body {
  font-family: sans-serif;
}

#myGrid {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

.competitorId {
  font-size: 18pt;
}
